# ======================================
# IntelliJ IDEA
# ======================================
.idea/
*.iml

# ======================================
# Build outputs
# ======================================
out/
bin/

# ======================================
# Local database or config files
# ======================================
user.db

# ======================================
# OS and editor files
# ======================================
.DS_Store
.vscode/
Thumbs.db

# ======================================
# Logs & temporary files
# ======================================
*.log
*.tmp
